/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
    /*font-family: 'Roboto', sans-serif;*/
}

.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.blue-background {
    background-color: #006064;
    color: #fff;
}

.table {
    border: 1px solid #006064;
}

.btn {
    padding: 10px 20px;
    background-color: #006064;
    border-radius: 0;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.btn:hover {
    background-color: #009CA1;
    color: #fff;
}

.btn:focus {
    color: #fff;
}

h1 {
    color: #006064;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-danger,
.table .btn-warning {
    padding: 2px 5px;
    margin: 5px 5px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 3px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #006064;
}

.admin-items {
    list-style: none;
}

.admin-items li {
    margin-bottom: 10px;
}

.btn {
    margin: 0 5px;
}

input:invalid {
    border-color: tomato;
}

input,
input:valid {
    border-color: #ccc;
}

.params-form {
    width: 30%;
    margin: 20px auto;
}

.input-text {
    margin: 0 10px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.no-choosen {
    height: 34px;
    display: inline-block;
}

.checkbox {
    height: 34px;
    display: flex;
    align-items: center;
    margin-top: 0;
}

#schedule-table tbody td {
    height: 120px;
}

#schedule-table table {
    width: 100%;
}

#schedule-table table tr {
    border-bottom: 1px solid #006064;
}

#schedule-table tr td {
    padding: 0;
    position: relative;
}

#schedule-table tbody tr td:first-child {
    width: 30px;
}

#schedule-table .lesson p {
    margin: 0;
    text-align: left;
}

#schedule-table .lesson {
    margin: 0 5px;
}

#schedule-table tr td button.btn-danger {
    position: absolute;
    bottom: 0;
    right: -5px;
}

#schedule-table tr td button.btn-warning {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

#schedule-table tr {
    height: 27px;
}

.lesson p {
    max-width: 169px;
}

.main-groups {
    display: flex;
    flex-direction: row;
}

.main-groups aside {
    width: 20%;
}

.main-groups table {
    width: 80%;
}

.main-groups aside input[type="text"] {
    width: 70%;
}

.admin-zones {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.admin-zones div {
    display: flex;
    flex-direction: column;
    border: 1px solid #006064;
    margin: 0 20px;
    padding: 20px;
}

.admin-zones div p {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #006064;
}